<div class="person">
    <h2>Search companies</h2>
    <form #form="ngForm" [formGroup]="searchForm">
        <div class="form-group">
            <input class="form-control" name="search" formControlName="search">
        </div>
        <button (click)="add();">Search</button>
    </form>
</div>