<!-- <div [formGroup]="reportForm">
  <div class="form-group">
      <label for="name">Name: </label>
      <input class="form-control" id="name" name="name" formControlName="name" >
  </div>
  <div class="form-group">
      <label for="status">Status: </label>
      <input class="form-control" id="status" name="status" formControlName="status" >
  </div>
  <button role="submit" class="btn btn-primary">Comment</button>
</div> -->