<div class="row mt-5" *ngIf="connections$ | async as NodeConnections">
  <div *ngIf="NodeConnections.connections.from.length || NodeConnections.connections.to.length" class="col-12">
    <h2>Connections</h2>
    <hr>
  </div>
  <div class="col-12">
    <div *ngFor="let connection of NodeConnections.connections.from" class="relationshipBox mt-3">
      <div class="relationship">
        <div class="node {{NodeConnections.__typename.toLowerCase()}}">
          <app-node-icon [type]="NodeConnections.__typename" [size]="'2x'"></app-node-icon>
          <p class="mb-0 mt-1">{{NodeConnections.name}}</p>
        </div>
        <div class="pointLeft"></div>
        <div class="line left"></div>
        <div class="context">{{connection.context}}</div>
        <div class="line right"></div>
        <div class="node {{connection.Node.__typename.toLowerCase()}}">
          <app-node-icon [type]="connection.Node.__typename" [size]="'2x'"></app-node-icon>
          <p class="mb-0 mt-1">{{connection.Node.name}}</p>
        </div>
      </div>
      <app-node-matched-references [to]="NodeConnections" [from]="connection.Node"></app-node-matched-references>
    </div>
    <div *ngFor="let connection of NodeConnections.connections.to" class="relationshipBox mt-3">
      <div class="relationship">
        <div class="node {{NodeConnections.__typename.toLowerCase()}}">
          <app-node-icon [type]="NodeConnections.__typename" [size]="'2x'"></app-node-icon>
          <p class="mb-0 mt-1">{{NodeConnections.name}}</p>
        </div>
        <div class="line left"></div>
        <div class="context">{{connection.context}}</div>
        <div class="line right"></div>
        <div class="pointRight"></div>
        <div class="node {{connection.Node.__typename.toLowerCase()}}">
          <app-node-icon [type]="connection.Node.__typename" [size]="'2x'"></app-node-icon>
          <p class="mb-0 mt-1">{{connection.Node.name}}</p>
        </div>
      </div>
      <app-node-matched-references [from]="NodeConnections"[to]="connection.Node"></app-node-matched-references>
    </div>
  </div>
  <div class="col-12 mt-5">
    <app-node-references [nodeReference]="NodeConnections"></app-node-references>
  </div>
</div>