$people: #007ae1;
$objects: #673ab7;
$locations: #179b1d;
$events: #ffc107;
$documents: #ba0000;

.relationshipBox {
  background-color: #1c212c;
  border: 2px solid #2F384C;
  border-radius: 3px;
  padding: 10px;
}

.relationship {
  display: flex;
}

.arrow {
  width: 100%;
}

.node {
  text-align: center;
  font-size: 0.9rem;
}

.line {
  flex-grow: 2;
  margin: auto 10px;
  /* width: 90px; */
  background: #ddd;
  height: 2px;
  float: left;
}

.pointRight {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 20px solid #ddd;
  float: right;
  margin: auto 10px;
  margin-left: -10px;
}

.pointLeft{
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 20px solid #ddd;
  margin: auto 10px;
  margin-right: -10px;
  float: left;
}

.context {
  margin: auto 10px;
}

.person {
  .node icon {
    color: $people;
  }
}

.location {
  .node icon {
    color: $locations;
  }
}