<app-client-header></app-client-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-2">
            <app-report-menu></app-report-menu>
        </div>
        <div class="col-6">
            <app-message></app-message>
            <router-outlet></router-outlet>
        </div>
        <div class="col-4 mt-3" id="context">
            <app-intelligence-list *ngIf="(context$ | async) === 'intelligence'"></app-intelligence-list>
            <app-reference-list *ngIf="(context$ | async) === 'references'"></app-reference-list>
            <app-comment-list *ngIf="(context$ | async) === 'comments'"></app-comment-list>
        </div>
    </div>
</div>
<app-site-footer></app-site-footer>