<div *ngIf="clients$ | async as clients" class="clients">
  <div class="dropdown" *ngIf="clients.length > 1 else singleClient">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Please select...
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a *ngFor="let client of clients" (click)="changeClient(client)" class="dropdown-item" [routerLink]="['/client', client.clientId]">{{client.name}}</a>
    </div>
  </div>
</div>

<ng-template #singleClient></ng-template>