<div class="row">
  <div class="col-1 mt-1">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.LYhnblhFlUonBtADHnj0XwHaHa%26pid%3DApi&f=1" width="56">
  </div>
  <div class="col-11">
    <p class="mt-0">Rosencrantz is dead | <strong>Steve Haffenden</strong><br/><em>Commented on: {{comment.date.formatted}}</em></p>
  </div>
</div>
<div class="row">
  <div class="col-1">&nbsp;</div>
  <div class="col-11">
    <p>{{comment.comment}}</p>
    <p><a href="#">Edit</a> | <a href="#">Reply</a> | <a href="#">Delete</a></p>
  </div>
</div>
<div *ngIf="comment.replies && comment.replies.length" style="padding-left: 20px;">
  <div *ngFor="let reply of comment.replies">
    <app-comment [comment]="reply"></app-comment>
  </div>
</div>