<div *ngIf="intelligence$ | async as intel else noIntelligence" id="intelligencePanel">
  <div *ngIf="intel && intel.nodes else noIntelligence">
    <h2>Intelligence</h2>
    <hr>
    <div *ngFor="let node of intel.nodes" class="card bg-{{node.__typename.toLowerCase()}} mt-3 flex-row flex-wrap">
      <div class="card-header border-0 faded">
        <fa-icon *ngIf="node.__typename.toLowerCase() === 'person'" icon="user" size="4x"></fa-icon>
        <fa-icon *ngIf="node.__typename.toLowerCase() === 'object'" icon="circle-notch" size="4x"></fa-icon>
        <fa-icon *ngIf="node.__typename.toLowerCase() === 'area'" icon="map-marker-alt" size="4x"></fa-icon>
        <fa-icon *ngIf="node.__typename.toLowerCase() === 'address'" icon="address-book" size="4x"></fa-icon>
        <fa-icon *ngIf="node.__typename.toLowerCase() === 'event'" icon="calendar" size="4x"></fa-icon>
      </div>
      <div class="card-body">
        <h5 class="card-title"><a [routerLink]="['/node', node.nodeId]">{{node.name}}</a></h5>
      </div>
    </div>
  </div>
</div>
<ng-template #noIntelligence>
  <p>There is currently no additional intelligence for this section of the report</p>
</ng-template>