<div *ngIf="event" class="mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>
          <fa-icon icon="calendar" size="1x" class="event"></fa-icon> Event details
        </h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <img *ngIf="event.media && event.media.length" src="{{event.media[0].Media.link}}" alt="{{event.media[0].Media.description}}" style="width:100%" />
      </div>
      <div class="col-9">
        <table class="table table-dark bg-content">
          <tr>
            <th scope="row"><strong>Name:</strong></th>
            <td>{{event.name}}</td>
          </tr>
          <tr *ngIf="event.description">
            <th scope="row"><strong>Description:</strong></th>
            <td>{{event.description}}</td>
          </tr>
          <tr>
            <th scope="row"><strong>Started:</strong></th>
            <td>{{event.started.formatted}}</td>
          </tr>
          <tr>
            <th scope="row"><strong>Ended:</strong></th>
            <td>{{event.ended.formatted}}</td>
          </tr>
          <tr *ngIf="event.types">
            <th scope="row"><strong>Types:</strong></th>
            <td><span *ngFor="let type of event.types" class="badge bg-objects mr-2">{{type}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
