<form [formGroup]="personForm" (ngSubmit)="create()" class="needs-validation">
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="submit" class="btn btn-primary" [disabled]="!this.personForm.valid">Save</button>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <button type="button" class="btn btn-secondary" (click)="addSource()">Add source</button>
        </div>
    </div>
    <div class="card person">
        <div class="card-header">Person</div>
        <div class="card-body">
            <div class="form-group">
                <label for="name">Name: </label>
                <input class="form-control" id="name" name="name" formControlName="name" >
            </div>
            <div class="form-group">
                <label for="nationality">Nationality:</label>
                <input class="form-control" id="nationality" name="nationality" formControlName="nationality">
            </div>
            <div class="form-group">
                <label for="dob">Date of birth:</label>
                <input class="form-control" id="dob" name="dob" formControlName="dob">
            </div>
            <div class="form-group">
                <label for="dod">Date of death:</label>
                <input class="form-control" id="dod" name="dod" formControlName="dod">
            </div>
        </div>
    </div>
    <div *ngFor="let source of sources?.controls; let i = index">
        <app-create-source [index]="i" [sourceForm]="source" (deleteSource)="deleteSource($event)"></app-create-source>
    </div>
</form>