.horizontal {
  flex-direction: row;
  align-items: flex-start;

  img {
    padding: 1.25rem;
    width: 10rem;
  }

  .report-overview {
    padding: 1.25rem 0;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
}