<div *ngIf="client$ | async as ClientDetail" class="mt-3">
  <h2>Report list</h2>
  <hr>
  <div class="row" *ngIf="ClientDetail && ClientDetail.reports && ClientDetail.reports.length else noReports">
    <div class="col-12" *ngFor="let report of ClientDetail.reports">
          <div class="card horizontal mt-3 custom-card" style="width: 100%;" [attr.id]="report.reportId">
              <img *ngIf="report.avatar" class="card-img-top" [attr.src]="report.avatar" alt="Card image cap">
              <div class="card-body">
                  <h5 class="card-title">{{report.name}} - <span class="badge badge-warning">{{report.status}}</span></h5>
                  <p class="card-text">{{report.synopsis}}</p>
                  <div id="collapse-{{report.reportId}}" class="report-overview collapse" aria-labelledby="headingOne" [attr.data-parent]="'#'+report.reportId">
                    <app-report-overview [reportId]="report.reportId"></app-report-overview>
                  </div>
                  <a class="card-link" data-toggle="collapse" [attr.data-target]="'#collapse-'+report.reportId" aria-expanded="true" [attr.aria-controls]="'collapse-'+report.reportId">More information</a>
                  <a class="card-link" [routerLink]="['/report', report.reportId]">View report</a>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #noReports>
  <div class="row mb-3">
    <div class="col-12">
      <div class="card horizontal mt-3 bg-danger" style="width: 100%;">        
        <div class="card-body">
          <h5 class="card-title">No Reports Found</h5>
          <p class="card-text">Either there is not client selected or no reports have been found. Please check back later</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>