<div class="person">
    <h2>Create an entity</h2>
    <form [formGroup]="entityForm" (ngSubmit)="create()" class="needs-validation">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" id="name" name="name" formControlName="name" required>
            <div class="invalid-feedback" *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)">
                Please provide a valid entity name.
            </div>
        </div>
        <div class="form-group">
            <label for="alias">Alias:</label>
            <input class="form-control" id="alias" name="alias" formControlName="alias">
        </div>
        <div class="form-group">
            <label for="type">type:</label>
            <input class="form-control" id="type" name="type" formControlName="type">
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <input class="form-control" id="status" name="status" formControlName="status">
        </div>
        <div class="form-group">
            <label for="dob">Incorporation date :</label>
            <input class="form-control" id="creationDate" name="creationDate" formControlName="creationDate">
        </div>
        <div class="form-group">
            <label for="dob">Cessation date :</label>
            <input class="form-control" id="cessationDate" name="cessationDate" formControlName="cessationDate">
        </div>
        <div class="form-group">
            <app-create-source formControlName="source"></app-create-source>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!this.entityForm.valid">Create entity</button>
    </form>
</div>
