<div *ngIf="person" class="mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>
          <fa-icon icon="user" size="1x" class="people"></fa-icon> Personal details
        </h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div *ngIf="person.media" class="col-3">
        <img src="{{person.media[0].Media.link}}" style="width:100%" />
      </div>
      <div class="col-9">
        <table class="table table-dark bg-content">
          <tr>
            <th scope="row"><strong>Name:</strong></th>
            <td>{{person.name}}</td>
          </tr>
          <tr>
            <th scope="row"><strong>Date of birth:</strong></th>
            <td>{{person.dateOfBirth.formatted}}</td>
          </tr>
          <tr *ngIf="person.nationalities.length > 0">
            <th scope="row"><strong>Nationalities:</strong></th>
            <td><span *ngFor="let nationality of person.nationalities"
                class="badge bg-locations mr-2">{{nationality}}</span></td>
          </tr>
          <tr *ngIf="person.aliases.length > 0">
            <th scope="row"><strong>Aliases:</strong></th>
            <td><span *ngFor="let alias of person.aliases" class="badge bg-people mr-2">{{alias}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>