<div class="person">
    <h2>Search for signs of intelligence</h2>
    <form [formGroup]="searchIntelligenceForm" (ngSubmit)="search()" class="needs-validation">
        <div class="form-group">
            <label for="name">Search:</label>
            <input class="form-control" id="search" name="search" formControlName="search" required>
            <div class="invalid-feedback" *ngIf="form.search.invalid && (form.search.dirty || form.search.touched)">
                Please provide a valid search.
            </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!this.searchIntelligenceForm.valid">Search</button>
    </form>
</div>
<div *ngFor="let result of results">
    <h2>{{result.name}}</h2>
    <p><a href="{{result.source}}">{{result.source}}</a></p>
    <p>{{result.type}}</p>
    <hr />
</div>
