<div *ngIf="objectDetail" class="mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>
          <fa-icon icon="circle-notch" size="1x" class="objects"></fa-icon> Object details
        </h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div *ngIf="objectDetail.media" class="col-3">
        <img src="{{objectDetail.media[0].Media.link}}" alt="{{objectDetail.media[0].Media.description}}" style="width:100%" />
      </div>
      <div class="col-9">
        <table class="table table-dark bg-content">
          <tr>
            <th scope="row"><strong>Name:</strong></th>
            <td>{{objectDetail.name}}</td>
          </tr>
          <tr *ngIf="objectDetail.description">
            <th scope="row"><strong>Description:</strong></th>
            <td>{{objectDetail.description}}</td>
          </tr>
          <tr *ngIf="objectDetail.types">
            <th scope="row"><strong>Types:</strong></th>
            <td><span *ngFor="let type of objectDetail.types" class="badge bg-objects mr-2">{{type}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>