<div *ngIf="comments$ | async as comments else noComment" id="commentPanel">
  <div *ngIf="comments && comments.length else noComment">
    <h2>Comments</h2>
    <hr>
    <div *ngFor="let comment of comments">
      <app-comment [comment]="comment"></app-comment>
    </div>
    <hr>
    <p><a href="#">+ Add a comment</a></p>
    <app-create-comment></app-create-comment>
  </div>
</div>
<ng-template #noComment>
    <h2>Comments</h2>
    <hr>
    <p><a href="#">+ Add a comment</a></p>
    <app-create-comment></app-create-comment>
</ng-template>
