<div *ngIf="matchedReferences && matchedReferences.length" class="mt-3">
  <hr>
  <a data-toggle="collapse" href="#{{from.nodeId}}-{{to.nodeId}}" role="button" aria-expanded="false" [attr.aria-controls]="from.nodeId+'-'+to.nodeId" class="btn btn-secondary">Shared references</a>
  <div *ngFor="let reference of matchedReferences" class="collapse card bg-documents mt-3 flex-row flex-wrap" id="{{from.nodeId}}-{{to.nodeId}}">
    <div class="card-header border-0 faded"><fa-icon icon="file" size="4x"></fa-icon></div>
    <div class="card-body">
      <h5 class="card-title">{{reference.Document.name}}</h5>
      <p class="card-text"><strong> {{from.name}}</strong> and <strong>{{to.name}}</strong> are both referenced in <a href="#">{{reference.Document.name}}</a>. Context: {{reference.Document.context}}</p>
    </div>
  </div>
</div>
