<div *ngIf="intelligence$ | async as intelligence" class="mt-3">
  <app-person-detail *ngIf="intelligence.nodes[0].__typename == 'Person'" [person]="intelligence.nodes[0]"></app-person-detail>
  <app-area-detail *ngIf="intelligence.nodes[0].__typename == 'Area'" [area]="intelligence.nodes[0]"></app-area-detail>
  <app-address-detail *ngIf="intelligence.nodes[0].__typename == 'Address'" [address]="intelligence.nodes[0]"></app-address-detail>
  <app-object-detail *ngIf="intelligence.nodes[0].__typename == 'Object'" [objectDetail]="intelligence.nodes[0]"></app-object-detail>
  <app-event-detail *ngIf="intelligence.nodes[0].__typename == 'Event'" [event]="intelligence.nodes[0]"></app-event-detail>
  <app-node-connections></app-node-connections>
</div>