
  <div *ngIf="nodeReference.documents">
    <h2>References</h2>
    <hr>
    <div *ngFor="let reference of nodeReference.documents" class="card bg-documents mt-3 flex-row flex-wrap">
      <div class="card-header border-0 faded"><fa-icon icon="file" size="4x"></fa-icon></div>
      <div class="card-body">
        <h5 class="card-title">{{reference.Document.name}}</h5>
        <p class="card-text">{{reference.context}}</p>
      </div>
    </div>
  </div>