<div class="card person">
    <div class="card-header justify-content-between">
        <h3>Source</h3>
        <button type="button" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    </div>
    <div class="card-body" [formGroup]="sourceForm">
        <input type="hidden" id="id" name="id" formControlName="id">
        <div class="form-group">
            <label for="sourceName">Source: </label>
            <input class="form-control" id="name" name="name" formControlName="name">
        </div>
        <div class="form-group">
            <label for="status">Type of intelligence:</label>
            <select class="form-control" id="type" name="type" formControlName="type">
                <option value="article">Article</option>
                <option value="document">Document</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <label for="sourceURI">URL: </label>
            <input class="form-control" id="source" name="source" formControlName="source">
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="isPrimarySource1" formControlName="is_primary_source" value="true" checked>
            <label class="form-check-label" for="isPrimarySource1">
                This is evidence (Primary source)
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="isPrimarySource2" formControlName="is_primary_source" value="false">
            <label class="form-check-label" for="isPrimarySource2">
                This is intelligence (Secondary source)
            </label>
        </div>
    </div>
</div>
