
<div id="reportMenu" *ngIf="sections && sections.length > 0">
<div class="accordion mt-3">
  <div class="card custom-card" id="section-{{section.sectionId}}" *ngFor="let section of sections">
      <div class="card-header" id="headingOne">
          <h2 class="mb-0">
              <button type="button" role="button" (click)="switchSection(section)" class="btn btn-link active" data-toggle="collapseOne" data-target="#collapseOne">{{section.name}}</button>									
          </h2>
      </div>
      <div *ngIf="activeSection.sectionId === section.sectionId && (subSections && subSections.length > 0)">
        <div id="collapseTwo" class="show" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
            <ul class="nav flex-column ml-2">
              <li *ngFor="let subSection of subSections" subclass="nav-item">
                <a role="button" class="nav-link" (click)="scrollToTarget(subSection)">{{subSection.name}}</a>
              </li>
            </ul>
          </div>
      </div>
  </div>
</div>
</div>