<fa-icon *ngIf="type === 'person'" icon="user" size="{{size}}"></fa-icon>
<fa-icon *ngIf="type === 'object'" icon="circle-notch" size="{{size}}"></fa-icon>
<fa-icon *ngIf="type === 'area'" icon="map-marker-alt" size="{{size}}"></fa-icon>
<fa-icon *ngIf="type === 'address'" icon="address-book" size="{{size}}"></fa-icon>
<fa-icon *ngIf="type === 'event'" icon="calendar" size="{{size}}"></fa-icon>