<div *ngIf="area" class="mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>
          <fa-icon icon="map-marker-alt" size="1x" class="locations"></fa-icon> Area details
          </h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div *ngIf="area.media" class="col-3">
        <img src="{{area.media[0].Media.link}}" style="width:100%" />
      </div>
      <div class="col-9">
        <table class="table table-dark bg-content">
          <tr>
            <th scope="row"><strong>Name:</strong></th>
            <td>{{area.name}}</td>
          </tr>
          <tr *ngIf="area.types">
            <th scope="row"><strong>Types:</strong></th>
            <td><span *ngFor="let type of area.types" class="badge bg-locations mr-2">{{type}}</span></td>
          </tr>
          <tr *ngIf="area.location">
            <th scope="row"><strong>location:</strong></th>
            <td>{{area.location.longitude}}</td>
          </tr>
          <tr *ngIf="area.partOf">
            <th scope="row"><strong>location:</strong></th>
            <td><a href="#">{{area.partOf.name}}</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>