<nav *ngIf="loggedIn$ | async as isLoggedIn" class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <a class="navbar-brand" href="#">Modigliani: <span *ngIf="currentClient$ | async as client">{{client.name}}</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
  <div id="projectSelector" class="mr-2">
    <app-client-list></app-client-list>
  </div>
  <a class="" (click)="logout()">logout</a>
</nav>