<div *ngIf="documents$ | async as documents" id="referencePanel">
  <div *ngIf="documents && documents.length">
    <h2>References</h2>
    <hr>
    <div *ngFor="let document of documents" class="card bg-documents mt-3 flex-row flex-wrap">
      <div class="card-header border-0 faded">
        <fa-icon icon="file" size="4x"></fa-icon>
      </div>
      <div class="card-body">
        <h5 class="card-title"><a [routerLink]="['/document', document.Document.documentId]">{{document.Document.name}}</a></h5>
        <p>{{document.context}}</p>
      </div>
    </div>
  </div>
</div>
