<h2>Intelligence</h2>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" routerLink="/intelligence" routerLinkActive="active">Intelligence home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/intelligence/create" routerLinkActive="active">Create</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/intelligence/search" routerLinkActive="active">Search</a>
    </li>
</ul>
<router-outlet></router-outlet>
