<div *ngFor="let message of messages" class="{{cssClass(message)}} show alert-dismissable " role="alert">
    {{message.message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="removeMessage(message)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>