<div *ngIf="report$ | async as ReportDetail" class="mt-3">
    <div *ngIf="section$ | async as SectionDetail">
        <h2>{{SectionDetail.name}}</h2>
        <hr>
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" [class.active]="(context$ | async) === 'intelligence'" (click)="changeContext('intelligence')"  role="button" >Intelligence</button>
            <button type="button" class="btn btn-primary" [class.active]="(context$ | async) === 'references'" (click)="changeContext('references')" role="button" >References</button>
            <button type="button" class="btn btn-primary" [class.active]="(context$ | async) === 'comments'" (click)="changeContext('comments')" role="button" >Comments</button>
        </div>
        <br><br>
        <div [class]="context$ | async">
        <div class="row" *ngIf="section$ | async as SectionDetail">
            <div class="col-12">
                <span [innerHTML]="SectionDetail.content"></span>
            </div>
            <div class="col-12 mt-3" *ngFor="let subsection of SectionDetail.sections">
                <h3 [id]="subsection.id">{{subsection.name}}</h3>
                <hr>
                <span [innerHTML]="subsection.content"></span>
            </div>
        </div>
        </div>
    </div>   
</div>
