<app-client-header></app-client-header>
<div class="container-fluid">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <app-message></app-message>
            <router-outlet></router-outlet>
        </div>
        <div class="col-3">
        </div>
    </div>
</div>
<app-site-footer></app-site-footer>