<app-site-header></app-site-header>
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-4"></div>
    <div class="col-4">
      <app-message></app-message>
    </div>
    <div class="col-4"></div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <router-outlet></router-outlet>
    </div>
    <div class="col-1"></div>
  </div>
</div>
<app-site-footer></app-site-footer>