<div *ngIf="projectReports$ | async as reports; else elseBlock">
    <div class="dropdown mt-3">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{activeReport.name}}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let report of reports.reports" (click)="switchReport(report)" class="dropdown-item" [routerLink]="['/report', report.id]">{{report.name}}</a>
        </div>
    </div>
</div>
<ng-template #elseBlock>
    <div class="mt-3">
    <p>There are currently no reports available for this project.</p>
    <a class="btn btn-primary" href="#">Create a report</a>
    </div>
</ng-template>
