<div class="person">
    <h2>Create Location</h2>
    <form [formGroup]="locationForm" (ngSubmit)="create()" class="needs-validation">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" id="name" name="name" formControlName="name" required>
            <div class="invalid-feedback" *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)">
                Please provide a valid name for this location.
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input class="form-control" id="address" name="address" formControlName="address">
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <input class="form-control" id="city" name="city" formControlName="city">
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <input class="form-control" id="state" name="state" formControlName="state">
        </div>
        <div class="form-group">
            <label for="postcode">Postcode/Zip:</label>
            <input class="form-control" id="postcode" name="postcode" formControlName="postcode">
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            <input class="form-control" id="country" name="country" formControlName="country">
        </div>
        <div class="form-group">
            <label for="coordinates">Geospatial Co-ordinates (lat, lng):</label>
            <input class="form-control" id="coordinates" name="coordinates" formControlName="coordinates">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!this.locationForm.valid">Create location</button>
        </div>
    </form>
</div>