<div class="person">
    <h2>Create Intelligence</h2>
    <form [formGroup]="intelligenceForm" (ngSubmit)="create()" class="needs-validation">
        <div class="form-group">
            <label for="name">Name:</label>
            <input class="form-control" id="name" name="name" formControlName="name" required>
            <div class="invalid-feedback" *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)">
                Please provide a valid name for this intelligence.
            </div>
        </div>
        <div class="form-group">
            <label for="source">Source:</label>
            <input class="form-control" id="source" name="source" formControlName="source">
            <div class="invalid-feedback" *ngIf="form.source.invalid && (form.source.dirty || form.source.touched)">
                Please provide a source (url) for this intelligence
            </div>
        </div>
        <div class="form-group">
            <label for="status">Type of intelligence:</label>
            <select class="form-control" id="type" name="type" formControlName="type">
                <option value="article">Article</option>
                <option value="document">Document</option>
                <option value="other">Other</option>
            </select>
        </div>
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="primarySource" name="primarySource" formControlName="primarySource" value="true">
                <label class="form-check-label" for="primarySource">Check this box if the intelligence represents a primary source</label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary" [disabled]="!this.intelligenceForm.valid">Create entity</button>
        </div>
    </form>
</div>
