/* You can add global styles to this file, and also import other style files */
$green: #A0F008;
$pink: #d50779;
$dark-blue: #2F384C;
$card-dark-bg: $dark-blue;
$body-bg:  #292d37;
$body-color: #ddd;
$content-bg: #1c212c;
$link-color: $green;

$people: #007ae1;
$objects: #673ab7;
$locations: #179b1d;
$events: #ffc107;
$documents: #ba0000;

$theme-colors:	
(
    "primary": $green,
    "secondary": $dark-blue
);

hr,
.custom-navbar {
    background-color: $pink;
}

// @import "../node_modules/bootstrap/scss/bootstrap";

.invalid-feedback {
    display: block;
}

input {
    &.ng-dirty,
    &.ng-touched {
        &.ng-invalid {
            border: 1px solid red;
        }
    }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

.custom-card {
    background-color: $card-dark-bg;
}

.person,
.people {
    color: $people;
}

.objects,
.object {
    color: $objects;
}

#context,
.intelligence {
.bg-object,
.bg-objects {
    background-color: $objects;
}

.bg-address,
.bg-area,
.bg-location,
.bg-locations {
    background-color: $locations
}

.bg-content {
    background-color: $content-bg;
}

.bg-person,
.bg-people {
    background-color: $people;
}

.bg-event,
.bg-events {
    background-color: $events;

    a {
        color: #333;
    }
}
}

#context,
.references {
.bg-document,
.bg-documents {
    background-color: $documents;
}
}

.location,
.area,
.address,
.locations {
    color: $locations;
}

.events,
.event {
    color: $events;
}

.highlight {
    display: inline-block;
    padding: 0 5px;
    border-radius: 3px;
}

.card-body a {
    color: #fff;
}