<div *ngIf="address" class="mt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h2>
          <fa-icon icon="address-book" size="1x" class="locations"></fa-icon> Address details
        </h2>
        <hr />
      </div>
    </div>
    <div class="row">
      <div *ngIf="address.media" class="col-3">
        <img src="{{address.media[0].Media.link}}" style="width:100%" />
      </div>
      <div class="col-9">
        <table class="table table-dark bg-content">
          <tr>
            <th scope="row"><strong>Name:</strong></th>
            <td>{{address.name}}</td>
          </tr>
          <tr *ngIf="address.address">
            <th scope="row"><strong>Address:</strong></th>
            <td>{{address.address}}</td>
          </tr>
          <tr *ngIf="address.partOf">
            <th scope="row"><strong>Part Of: </strong></th>
            <td><span class="badge bg-locations mr-2">{{address.partOf.name}}</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>