<div *ngIf="report$ | async as report">
  <h5>{{report.mandate.name}}</h5>
  <p>{{report.mandate.description}}</p>
  <!--<h5>Start date</h5>
  <p>{{report.created.day}}/{{report.created.month}}/{{report.created.year}}</p>-->
  <div *ngIf="report.sections && report.sections.length > 0">
    <h5>{{report.sections[0].name}}</h5>
    <span [innerHTML]="report.sections[0].content"></span>
  </div>
</div>